@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic|Fira+Mono:400,500,700');
@import 'fonts/Fira Code/fira_code.css';

$font-head: "Source Sans Pro", sans-serif;
$font-sans: "Source Sans Pro", sans-serif;
$font-mono: "Fira Mono", "Roboto Mono", monospace;
