@import 'fonts/Fira Code/fira_code.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');



$font-head: "Source Sans Pro", sans-serif;
$font-sans: "Source Sans Pro", sans-serif;
$font-mono: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
