#sandbox-container {
    background-color: $clr-grey-50;
    border-radius: 5px;
    border: 2px solid $clr-border;

    * {
        font-family: $font-mono !important;
    }

    #sandbox-editor-container {
        padding: 10px !important;

        #sandbox-editor {
            height: 400px;
            display: block;
            width: 100%;
            font-size: 1em;
            font-weight: 500;
            background-color: transparent;
            line-height: 150%;
        }
    }

    #sandbox-result {
        display: block;
        border: none;
        background: none;
        width: 100%;
        resize: vertical;
        white-space: wrap;
        background-color: $clr-grey-100;
        height: 150px;
        overflow: auto;
        display: none;
        white-space: pre;
        font-size: 13px;
        font-weight: 500;
        color: $clr-php-black;
        padding: 10px;
    }

    #sandbox-buttons {
        padding: 10px;
        background-color: $clr-php-blue;

        button {
            border: none;
            margin: 0;
            padding: 5px 10px;
            background: $clr-border;
            border-radius: 3px;
            box-shadow: 1px 1px 0 0 rgba(0,0,0,0.1);
            outline: none;

            &:active {
                box-shadow: inset 1px 1px 0 0 rgba(0,0,0,0.1);
            }
        }

        .sandbox-button-run {}
        .sandbox-button-example {}
        .sandbox-button-clear {}
    }
}
