* {
  box-sizing: border-box;
  -webkit-font-smoothing: auto !important;
  font-smooth: auto !important;
}

html {
  font-size: 1em;
  background-color: $clr-white;

  @include responsive-when-small {
    overflow-x: hidden;
  }
}

p,
a,
li,
div,
ul,
body {
  font-family: $font-sans;
  font-size: 1em;
  font-weight: 400;
  color: #111;
}

p,
li,
h2,
h3,
h4,
h5 {
    max-width: 720px;
}

b,
strong {
    font-weight: 600;
    color: #000;
}

a {
    text-decoration: none;
    color: $clr-php-blue-dark;
    font-weight: 400;
    white-space: nowrap;
    transition: color 0.1s ease-out;

    &:hover {
        color: $clr-php-blue;
    }
}

hr {
    padding: 1em 0 1em 0;
    border: none;
}

figure {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

blockquote {
    margin: 1em 0 1em 0;
    display: inline-block;
    padding-left: 1em;
    border: none;
    border-left: 4px solid $clr-php-blue-dark;
    color: $clr-php-blue-dark;
    font-style: italic;

    p {
        padding: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

table {
  margin-top: 1em;
  margin-bottom: 1em;
  min-width: 50%;
  border-collapse: collapse;
  border-left: 1px solid $clr-border;
  border-right: 1px solid $clr-border;

  thead {
    background-color: $clr-border;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  }

  th, td {
    border-bottom: 2px solid $clr-border;
    padding: 10px;
    vertical-align: top;
    font-size: 1em;
    a, p, span {
      font-size: 1em;
    }
  }

  th {
    padding: 5px 10px;
    color: $clr-heading-1;
  }
}


@import "header";
@import "menu";
@import "main";
@import "footer";
