$menu-width: 320px;
$header-height: 72px;
$header-height-small: 64px;

$clr-border: $clr-grey-100;

$clr-php-black:         #333333;
$clr-php-heading:       #793862;
$clr-php-blue-dark:     #4F5B93;
$clr-php-blue:          #8892BF;
$clr-php-green:         #693;

$clr-heading-1: $clr-php-heading;
$clr-heading-2: $clr-php-heading;
$clr-heading-3: $clr-blue-grey-400;
$clr-heading-4: $clr-php-black;
$clr-heading-5: $clr-blue-grey-400;

$clr-menu-heading-1: $clr-php-black;
$clr-menu-heading-2: $clr-php-heading;
$clr-menu-heading-3: $clr-blue-grey-600;
$clr-menu-heading-4: $clr-blue-grey-200;

$syntax-fallback:   $clr-php-black;
$syntax-var:        $clr-php-blue-dark;
$syntax-string:     $clr-php-green;
$syntax-keyword:    $clr-black;
$syntax-literal:    $clr-php-black;
$syntax-function:   $clr-php-blue-dark;
$syntax-name:       $clr-php-blue;
$syntax-punc:       $clr-blue-grey-400;
$syntax-class:      $clr-php-black;
$syntax-operator:   $clr-red;
$syntax-comment:    $clr-blue-grey-400;
